.Header {
    border-bottom: 1px solid black;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

button {
    color: #ffffff;
    margin: 8px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.btnAdd {
    background-color: #1ac771;
}

.btnSort {
    background-color: #8b83a8;
}

.btnAdd:hover {
    background-color: #0e9a54;
}

.btnSort:hover {
    background-color: #685e8f;
}

.link {
    font-size: 30px;
    padding: 12px;
    text-decoration: none;
    color: #62549b;
}

.link:hover {
    color: #21164f;
}

.btnClear {
    background-color: rgb(231, 20, 20);
}

.btnClear:hover {
    background-color: #cc0303;
}